<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Esprit Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Libraries CSS Files -->

    <link href="{{ asset("libraries/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("libraries/icofont/icofont.min.css") }}"  rel="stylesheet">
    <link href="{{ asset("libraries/owl.carousel/assets/owl.carousel.min.css") }}" rel="stylesheet">
    <link href="{{ asset("libraries/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
    <link href="{{ asset("libraries/venobox/venobox.css") }}" rel="stylesheet">
    <link href="{{ asset("libraries/aos/aos.css") }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset("css/style1.css") }}" rel="stylesheet">
    <!-- Appel Base -->
    <link href="{{ asset("css/style.css") }}" rel="stylesheet">
    <link href="{{ asset("css/style-responsive.css") }}" rel="stylesheet">
    <link href="{{ asset("css/table-responsive.css") }}" rel="stylesheet">
    <link href="{{ asset("css/to-do.css") }}" rel="stylesheet">
    <link href="{{ asset("css/zabuto_calendar.css") }}" rel="stylesheet">

    <link href="{{ asset('lib/advanced-datatable/css/demo_page.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/advanced-datatable/css/demo_table.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/advanced-datatable/css/demo_table_jui.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/advanced-datatable/css/DT_bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/advanced-datatable/css/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/advanced-datatable/css/jquery.dataTables_themeroller.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/bootstrap/css/bootstrap.css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/advanced-datepicker/css/datepicker.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/bootstrap-fileupload/bootstrap-fileupload.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/bootstrap-timepicker/compiled/timepicker.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/dropzone/dropzone.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/fancybox/jquery.fancybox.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/file-uploader/css/jquery.fileupload.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/file-uploader/css/jquery.fileupload-noscript.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/file-uploader/css/jquery.fileupload-ui.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/file-uploader/css/jquery.fileupload-ui-noscript.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/fullcalendar/bootstrap-fullcalender.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/gritter/css/jquery.gritter.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/gritter/css/jquery.gritter0.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/jquery-easy-pie-chart/jquery.easy-pie-chart.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/xchart/xcharts.css') }}" rel="stylesheet">

    <link href="{{ asset('img/*') }}" rel="stylesheet">


</head>

<body>
{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo"><a href="index.html">Esprit</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->


        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="header-social-links">
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>

    </div>

</header><!-- End Header -->
{% endblock %}

{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Esprit</h1>
        <a href="about.html" class="btn-about">About Me</a>
    </div>
</section><!-- End Hero -->
{% endblock %}

<div class="container" style="margin-left: 160px; padding-left: 150px; padding-top: 100px"  >
    {% block contenu %}
    {% endblock contenu %}
</div>

<!-- ======= Footer ======= -->
{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Esprit</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End  Footer -->
{% endblock %}
<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Libraries JS Files -->
<script src="{{ asset("libraries/jquery/jquery.min.js") }}"></script>
<script src="{{ asset("libraries/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
<script src="{{ asset("libraries/jquery.easing/jquery.easing.min.js") }}"></script>
<script src="{{ asset("libraries/php-email-form/validate.js") }}"></script>
<script src="{{ asset("libraries/waypoints/jquery.waypoints.min.js") }}"></script>
<script src="{{ asset("libraries/counterup/counterup.min.js") }}"></script>
<script src="{{ asset("libraries/owl.carousel/owl.carousel.min.js") }}"></script>
<script src="{{ asset("libraries/isotope-layout/isotope.pkgd.min.js") }}"></script>
<script src="{{ asset("libraries/venobox/venobox.min.js") }}"></script>
<script src="{{ asset("libraries/aos/aos.js") }}"></script>

<!-- Template Main JS File -->
<script src="{{ asset("js/main.js") }}"></script>

</body>

</html>